<ion-header>
  <ion-toolbar>
    <ion-buttons detail slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><ion-avatar slot="start"><img src="assets\imagens\deacon.png"></ion-avatar>
    <ion-label>Days Gone</ion-label>
    </ion-item>
  <ion-item><ion-avatar slot="start"><img src="assets\imagens\kratos.jpg"></ion-avatar>
    <ion-label>God Of War</ion-label>
    </ion-item>
  <ion-item><ion-avatar slot="start"><img src="assets\imagens\scorpion.jpg"></ion-avatar>
      <ion-label>Mortal Kombat</ion-label>
    </ion-item>
  <ion-item><ion-avatar slot="start"><img src="assets\imagens\leon.jpg"></ion-avatar>
      <ion-label>Resident Evil</ion-label>
    </ion-item>
  <ion-item><ion-avatar slot="start"><img src="assets\imagens\spider.jpg"></ion-avatar>
        <ion-label>Spiderman</ion-label>
      </ion-item>
</ion-content>
