<ion-header [translucent]="true"><ion-toolbar>
    <ion-title>ATRIBUIR NOTAS</ion-title></ion-toolbar></ion-header>
<ion-content [fullscreen]="true">
  <ion-item><ion-label>Aluno:</ion-label>
    <ion-select>
      <ion-select-option value="Anderson">Anderson</ion-select-option>
      <ion-select-option value="Alane">Alane</ion-select-option>
      <ion-select-option value="Bruna">Bruna</ion-select-option>
      <ion-select-option value="Bruno">Bruno</ion-select-option>
      <ion-select-option value="Carlos">Carlos</ion-select-option>
      <ion-select-option value="Cicero">Cicero</ion-select-option>
      <ion-select-option value="Maria">Maria</ion-select-option>
      <ion-select-option value="Marcos">Marcos</ion-select-option>
      <ion-select-option value="Severino">Severino</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nota 1:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nota 2:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nota 3:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nota 4:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
</ion-content>
