<ion-header>
  <ion-toolbar>
    <ion-buttons detail slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Divertidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item><ion-avatar slot="start"><img src="assets\imagens\crash.jpg"></ion-avatar>
    <ion-label>Crash</ion-label>
  </ion-item>
  <ion-item><ion-avatar slot="start"><img src="assets\imagens\mario.jpg"></ion-avatar>
    <ion-label>Super Mário</ion-label>
  </ion-item>

</ion-content>
