<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-item-divider>
      <ion-label color="primary">A</ion-label>
    </ion-item-divider>
    <ion-item color = "secondary">
      <ion-label color="dark">Aline</ion-label></ion-item>
    <ion-item color = "secondary">
      <ion-label color="dark">Antônio</ion-label></ion-item>

  <ion-item-divider>
    <ion-label color="primary">B</ion-label>
  </ion-item-divider>
    <ion-item color = "secondary">
      <ion-label color="dark">Bruno</ion-label></ion-item>
    <ion-item color = "secondary">
      <ion-label color="dark">Bia</ion-label></ion-item>

  <ion-item-divider>
    <ion-label color="primary">C</ion-label>
  </ion-item-divider>
    <ion-item color = "secondary">
      <ion-label color="dark">cesar</ion-label></ion-item>
    <ion-item color = "secondary">
      <ion-label color="dark">carla</ion-label></ion-item>

  <ion-item-divider>
    <ion-label color="primary">D</ion-label>
  </ion-item-divider>
    <ion-item color = "secondary">
      <ion-label color="dark">Daniel</ion-label></ion-item>

  <ion-item-divider>
    <ion-label color="primary">E</ion-label>
  </ion-item-divider>
    <ion-item color = "secondary">
      <ion-label color="dark">Elvis</ion-label></ion-item>
    <ion-item color = "secondary">
      <ion-label color="dark">Elton</ion-label></ion-item>

  <ion-item-divider>
    <ion-label color="primary">F</ion-label>
  </ion-item-divider>
  <ion-item color = "secondary">
    <ion-label color="dark">Felipe</ion-label></ion-item>
  <ion-item color = "secondary">
    <ion-label color="dark">Fátima</ion-label></ion-item>

  <ion-item-divider>
    <ion-label color="primary">S</ion-label>
  </ion-item-divider>
    <ion-item color = "secondary">
      <ion-label color="dark">Severino</ion-label>
      <ion-icon name="star" size=large slot="start"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>



