<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      calculo idade
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Data de Nascimento:</ion-label>
    <ion-datetime min="1900" max="2021" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="dataNascimento"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>{{dias}} dias</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{meses}} meses</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{anos}} anos</ion-label>
  </ion-item>
    <ion-button (click)="calcular()">Calcular</ion-button>
  </ion-content>
